*.scvd
*.srcnert
*.ini
*.DS_Store
_WORKSPACE/GPIO/_GCC/_build/
_WORKSPACE/GPIO/_MDKARM/_build/
_WORKSPACE/GPIO/_MDKARM/_build/JLinkLog.txt
_WORKSPACE/Template/_GCC/_build/
_WORKSPACE/Template/_MDKARM/_build/
_WORKSPACE/Template/_MDKARM/_build/JLinkLog.txt
